In [1]:
import pandas as pd

df_08 = pd.read_csv('data_08_v2.csv')
df_18 = pd.read_csv('data_18_v2.csv')

In [2]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 986 non-null    object
 1   displ                 986 non-null    float64
 2   cyl                   986 non-null    object
 3   trans                 986 non-null    object
 4   drive                 986 non-null    object
 5   fuel                  986 non-null    object
 6   veh_class             986 non-null    object
 7   air_pollution_score   986 non-null    object
 8   city_mpg              986 non-null    object
 9   hwy_mpg               986 non-null    object
 10  cmb_mpg               986 non-null    object
 11  greenhouse_gas_score  986 non-null    object
 12  smartway              986 non-null    object
dtypes: float64(1), object(12)
memory usage: 100.3+ KB

In [3]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 794 entries, 0 to 793
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 794 non-null    object
 1   displ                 794 non-null    float64
 2   cyl                   794 non-null    float64
 3   trans                 794 non-null    object
 4   drive                 794 non-null    object
 5   fuel                  794 non-null    object
 6   veh_class             794 non-null    object
 7   air_pollution_score   794 non-null    int64
 8   city_mpg              794 non-null    object
 9   hwy_mpg               794 non-null    object
 10  cmb_mpg               794 non-null    object
 11  greenhouse_gas_score  794 non-null    int64
 12  smartway              794 non-null    object
dtypes: float64(2), int64(2), object(9)
memory usage: 80.8+ KB

Fixing cyl Data Type

2008: extract int from string

2018: convert float to int

Load datasets data_08_v2.csv and data_18_v2.csv. You should've created these data files in the previous section: Filter, Drop Nulls, Dedupe.

In [5]:
df_08.head(1)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no

In [6]:
df_18.head(1)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,small SUV,3,20,28,23,5,No

In [4]:
# check value counts for the 2008 cyl column
df_08['cyl'].value_counts()

(6 cyl)     409
(4 cyl)     283
(8 cyl)     199
(5 cyl)      48
(12 cyl)     30
(10 cyl)     14
(2 cyl)       2
(16 cyl)      1
Name: cyl, dtype: int64

In [7]:
# Extract int from strings in the 2008 cyl column
df_08['cyl'] = df_08['cyl'].str.extract('(\d+)').astype(int)

In [8]:
# Check value counts for 2008 cyl column again to confirm the change
df_08['cyl'].value_counts()

6     409
4     283
8     199
5      48
12     30
10     14
2       2
16      1
Name: cyl, dtype: int64

In [12]:
# convert 2018 cyl column to int
df_18['cyl'] = df_18['cyl'].astype(int)

In [14]:
df_08.to_csv('data_08_v3.csv', index=False)
df_18.to_csv('data_18_v3.csv', index=False)